<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <div><a class="navbar-brand" style="color: white;">
          FarmKet</a></div>

        <ul class="navbar-nav navbar-collapse justify-content-end">
              <li><a *ngIf="!this.authService.isUserLoggedIn()" class="nav-link text-white"><i class="fa fa-sign-in m-1" aria-hidden="true" routerLink=""></i>Login</a></li>
              <li><a *ngIf="!this.authService.isUserLoggedIn()" class="nav-link text-white"><i class="fa fa-user-plus m-1" aria-hidden="true" routerLink="/signup"></i>Signup</a></li>
              <li><a *ngIf="this.authService.isUserLoggedIn()" class="nav-link text-white"><i class="fa fa-tachometer" aria-hidden="true" routerLink="/dashboard"></i>Dashboard</a></li>
              <li><a *ngIf="this.authService.isUserLoggedIn() &&  this.authService.getAuthenticatedUserRole() === 'FARMER'  " class="nav-link text-white"><i class="fa fa-id-badge" aria-hidden="true" routerLink="/productSheet"></i>Product Sheet</a></li>
              <li><a *ngIf="this.authService.isUserLoggedIn()" class="nav-link text-white"><i class="fa fa-check-square-o" aria-hidden="true" routerLink="/status"></i>Check Status</a></li>
              <li><a *ngIf="this.authService.isUserLoggedIn()" class="nav-link text-white"><i class="fa fa-sign-out" aria-hidden="true" (click)="onLogout()" ></i>Logout</a></li>
        </ul>
    </nav>
</header>
