.card {
  box-shadow: 5px 5px 5px 0 #38c256;
  background-color: rgb(79, 202, 79);
  margin-top:25%;
 
}
.logBtn:hover {
  background-color: #5bb95b;
  color: rgba(219, 216, 216, 0.973);
}

.head{
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-weight: 3000;
  font-style: oblique;
  color: rgb(37, 182, 37);
  text-align: center;
  width: 40%;
  margin-top: 1px;
}
.logo {
  width: 150px;
  height: 200px;
  margin-top: 1px;
  margin-left: 30px;
  margin-right:800px;
  padding:15px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
}
 .pic{
  background-image: url("https://previews.123rf.com/images/bloomingsally/bloomingsally2003/bloomingsally200300009/141213303-people-planting-tree-seedlings-vector-illustration-in-flat-style-spring-agricultural-work-concept-tr.jpg");
  
  /* margin-left: 5%;
  margin-right: 5%;
  width: 150%;
  margin-top: 5%; */

} 
.container{
  margin-top: 5px;
  margin-bottom: 75px;
}
.cont{
  margin-top:10px;
  margin-bottom: 80px;
  width:95%;
}
/* .row justify-content-center{
  margin-top: 5px;
  margin-bottom: 50px;
}
.col-md-5 {
  margin-top: 2px;
  margin-bottom: 5px;
} */

